
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.main,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
	text-align: center;
	color: #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #61014c;
	padding-top: 5px;
  padding-bottom: 5px;
}

.userIcon {
	width: 3%;
	height: auto;
	margin-right: 5px;
}

.followerslist {	
	padding-top: 5px;
  padding-bottom: 5px;
}

.right {
	position: absolute;
	right: 0px;
}